/****************************** EVERYWHERE ******************************/

/**** Palette ****/

:root{
	--blue:#0B1376;
	--violet:#7938EA;
	--orange:#f78d2d;
	--green:#1CDC95;
	--pink:#D8005A;
	--lightblue:#509fff;
}


.zewaow, .zewaow:hover, .zewaow:active, .zewaow:visited {
	color:var(--violet);
}

.viadeo, .viadeo:hover, .viadeo:active, .viadeo:visited {
	color:var(--orange);
}

.mentor, .mentor:hover, .mentor:active, .mentor:visited {
	color:var(--pink);
}

.more, .more:hover, .more:active, .more:visited {
	color:var(--green);
}

/**** Miscellaneous ****/

h1, h2, h3 {
	color: var(--blue);
	text-transform: none;
}

/*.heading h3 {
  border: 0;
  text-transform: none;
  font-weight:900;
}*/

a {
	color:var(--green);
	font-size: 20px;
	font-weight: 300;
}

a:hover {
  text-decoration: underline;
  color:var(--green);
}

a:active, a:visited {
	color:var(--green);
}


@media (max-width: 991px) {
	  .spacing-bottom {
	  margin-bottom: 30px;	
	}
}

.spacing-top {
	margin-top: 30px;
}


.bold {
	font-weight: 900;
}

.italic {
	font-style: italic;
}



/**** Work arrow ****/

a.work-arrow-title, a.work-arrow-title:hover, a.work-arrow-title:active {
	color: var(--blue);
	font-weight:900;
	font-size:21px;
	margin-bottom: 0px;
	text-decoration: none;
}

.fa-arrow-down {
	margin:0;
	color:var(--blue);
}





/**** Navigation - Menu ****/

p.logo-me {
	font-size:24px;
	font-weight:900;
	color:var(--blue);
	margin-top: 15px;
}



.navbar-default .navbar-nav > li > a {
  color: var(--blue);
  font-size: 18px;
  padding-bottom: 10px;
  border:transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: var(--blue);
  background-color: #FFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: var(--green);
  background-color: #FFF;
}

.navbar ul.nav > li {
	background: #FFF;
}

.navbar ul.nav > li > a {
  text-transform: none;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0;
  border-top: 0;
}
.navbar ul.nav > li > a:hover {
  border-top: 0;
  border-bottom: solid 3px var(--green);
}


.navbar ul.nav > li.active > a,
.navbar ul.nav > li.open > a {
  text-decoration: none !important;
  border-top: 0;
  border-bottom: solid 3px var(--green);
}


/**** Navigation Mobile ****/

@media (max-width: 767px) {
	.navbar ul.nav > li.active > a,
	.navbar ul.nav > li.open > a {
	border-bottom-color: transparent;
	}
	.navbar ul.nav > li > a:hover {
	border-bottom-color: transparent;
	}

	.navbar-collapse {
	background-color: #F3F3F6;
	}
	.navbar ul.nav > li {
	    background: #F3F3F6;
	}

	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
	  color: var(--green);
	  background-color: #F3F3F6;
	}

	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
	  color: var(--green);
	  background-color: #F3F3F6;
	}

}




.btn-template-main {
  color: var(--green);
  background-color: #ffffff;
  border-color: var(--green);
}

.navbar-default .navbar-toggle {
  border-color: var(--green);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: var(--green);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888888;
}

.nav > li > a {
    margin: 0px 20px;
    padding-left: 0;
    padding-right: 0;
}




/**** Keep in touch *****/

#keep-in-touch {
	padding-top: 20px;
	padding-bottom:80px;
}

div.mail {
	padding-top: 0px;
}

div.linkedin, div.twitter{
	padding-top: 10px;
}

#hover-mail{
	position: absolute;
	bottom: 40px;
	right: 100px;
	float: right;
	display: none;
}

#copied-mail{
	position: absolute;
	bottom: 50px;
	right: 150px;
	float: right;
	display: none;
}

span#copy-mail {
	color:var(--blue);
	font-size:26px;
	font-weight: 900;
	background: none;
	border: none;
}

span#copy-mail:before {
  content: "\F0e0";
  font-family: FontAwesome;
  padding-right: 10px;
}


span#copy-mail:hover+#hover-mail {
	display: block;
}

/*span.mail:active~#hover-mail, span.mail:visited~#hover-mail {
	display: none;
}

span.mail:active~#copied-mail, span.mail:visited~#copied-mail {
	display: block;
}*/

a.linkedin, a.twitter {
	color:var(--blue);
	font-size:24px;
}
 


@media (min-width: 991px) {
	#keep-in-touch img {
	float:right;
	padding-right: 60px;
	}

	div.mail {
	padding-top: 15px;
	}
}


@media (max-width: 767px) {
	#keep-in-touch {
		padding-top: 20px;
		padding-bottom:70px;
	}

	div.mail {
		padding-top: 25px;
		text-align: center;
	}

	div.linkedin, div.twitter {
		padding-top: 10px;
		text-align: center;
	}

	#copied-mail{
		position: absolute;
		bottom: 23px;
		right: 0px;
		float: right;
		display: none;
	}

	img#copied-mail {
		max-height:28px;
		max-width: auto; 
	}

	span#copy-mail {
		color:var(--blue);
		font-size:20px;
		font-weight: 900;
		margin-top: 20px;
	}

	span#copy-mail:before {
	  content: "\F0e0";
	  font-family: FontAwesome;
	  padding-right: 10px;
	}

	span#copy-mail:hover+#hover-mail, span#copy-mail:active~#hover-mail, span#copy-mail:active~#copied-mail {
		display: none;
	}

	a.linkedin, a.twitter {
		color:var(--blue);
		font-size:20px;
	}
}



/**** Get it blockquote *****/

#get-it {
  background: #F3F3F6;
  padding: 30px 0 30px;
} 

#get-it p {
	margin:0;
} 


#quote-ux {
	font-style: italic;
	font-size: 18px;
	color:#787B98;
}

#author-ux {
	font-size: 16px;
	color:#787B98;
	font-weight:300;
}



/**** Copyright ****/

#copyright {
  background: #FFF;
  padding: 10px 0;
  color:var(--blue);
} 

#copyright p::after {
  content: "\F1B0";
  font-family: FontAwesome;
  padding-left: 7px;
}

#copyright a.template-bootstrap {
	font-size: 12px;
}





/****************************** HOME ******************************/


/****Introduction ****/


.background-unicorn {
	background: #FFF;
	padding-top: 150px;
	padding-bottom: 10px;
	margin-bottom:20px;
}

@media (max-width: 481px) {
		.background-unicorn {
		background: #FFF;
		padding-top: 60px;
		padding-bottom: 0px;
		margin-bottom:0px;	
	}
}

/*.imagehome .img-responsive{
  text-align: center;
}*/

h1.text-intro{
	margin-bottom: 5px;
}


.lead {
  font-size: 21px;
  color:var(--blue);
}

a.home-icon-cv::before{
  content: "\F019";
  font-family: FontAwesome;
  padding-right: 10px;	
}

a.home-icon-more::before{
  content: "\F007";
  font-family: FontAwesome;
  padding-right: 10px;	
}



/**** Project preview ****/

.project-preview {
    background: #e5e6ec;
    padding: 50px 40px 50px 40px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.project-preview.more {
    background: #e5e6ec;
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    margin-bottom: 0px;
}

/**** Project preview ****/
.title-project-preview,
.title-project-preview > a {
	font-weight: 400;
	font-size: 26px;
	margin-top : 10px;
	margin-bottom: 6px;
}

p.title-project-preview,
p.title-project-preview > a {
	color: var(--blue);
	font-weight: 900;
	font-size: 18px;
	letter-spacing: 0.02em;
	margin-bottom: 0px;
}


.p-project-preview {
	font-size: 16px;
	color: var(--blue);
	line-height: 1.2em;
}

.p-project-preview > span {
	font-size:14px;
	color: var(--blue);
	font-style: italic;
}

ul.link-project-preview {
	list-style: none;
	padding-left: 0;
	margin-top: 25px;
	margin-bottom: 25px;
}

ul.link-project-preview > li > a {
	font-size:16px;
}

ul.link-project-preview > li > a::after {
	content: "\F061";
	font-family: FontAwesome;
	font-size: 12px;
	padding-left: 8px;
}


hr {
	margin-bottom: 25px;
	border-color:#BCBED7;
}



/*.project-button {
    color: #fff;
    text-align: left;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.06em;
	box-shadow: 0 2px 4px 0 rgba(100,100,100,0.50);
    text-transform: uppercase;
    border-radius: 4px;
	padding:7px 10px;
    margin-top: 1.6rem;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
    display: block;
}

a.btn-project-preview {
	color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(100,100,100,0.50);
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	padding:7px 10px;
}


a.btn-project-preview.btn-viadeo {
	background-color: var(--orange);
}

a.btn-project-preview.btn-mentor {
	background-color: var(--pink);
}

a.btn-project-preview.btn-more {
	background-color: var(--green);
}

*/

a.btn-project-preview {
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	padding:7px 10px;
}

a.btn-project-preview:hover, 
a.btn-project-preview:focus {
	color: #FFF;
}


/*zewaow button*/

a.btn-project-preview.zewaow/*, span.project-button.btn-zewaow*/ {
	border: solid 2px var(--violet);
}

a.btn-project-preview.zewaow:hover, 
a.btn-project-preview.zewaow:focus {
	background-color: var(--violet)
}


/*viadeo button*/

a.btn-project-preview.viadeo {
	border: solid 2px var(--orange);
}

a.btn-project-preview.viadeo:hover, 
a.btn-project-preview.viadeo:focus {
	background-color: var(--orange)
}


/*mentor button*/

a.btn-project-preview.mentor {
	border: solid 2px var(--pink);
}

a.btn-project-preview.mentor:hover, 
a.btn-project-preview.mentor:focus {
	background-color: var(--pink)
}


/*more button*/

a.btn-project-preview.more {
	border: solid 2px var(--green);
}

a.btn-project-preview.more:hover, 
a.btn-project-preview.more:focus {
	background-color: var(--green)
}



a.btn-project-preview::after/*, span.project-button::after*/ {
	content: "\F061";
	font-family: FontAwesome;
	font-size: 14px;
	padding-left: 10px;
}


@media (max-width: 481px) {
	a.btn-project-preview {
		border-radius: 5px;
		font-size: 13px;
		text-align: right;
	}
}



/****************************** WORK ******************************/


/* Custom navigation arrows */

.nav-arrows span {
	position: absolute;
	z-index: 2000;
	top: 45%;
	width: 50px;
	height: 50px;
	cursor: pointer;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none;
	transform: none;
}

.nav-arrows span:hover {
	border-color: #fff;
}

.nav-arrows span.nav-arrow-prev {
	left: 5%;
	border-right: none;
	border-top: none;
}

.nav-arrows span.nav-arrow-next {
	right: 5%;
	border-left: none;
	border-bottom: none;
}



/**** Slider intro ****/

.jumbotron {
	padding-bottom: 0px;
	background: none;
}

.jumbotron .dark-mask.zewaow{
    background: var(--violet);
}

.jumbotron .dark-mask.viadeo{
    background: var(--orange);
    opacity: 1;
}

.jumbotron .dark-mask.more{
    background: var(--green);
}

.jumbotron h2 {
	text-transform: none;
	letter-spacing: 0em;
	font-size: 36px;
}

.project-slider {
	max-width: 100%;
    height: auto;
}

p.p-project-slider-intro {
	font-size: 18px;
	letter-spacing: 0em;
}

.project-slider-intro {
	margin-top: 50px;
	padding-right: 50px;
}



@media (max-width: 768px) {
	img.project-slider {
		width:60%;
		height: auto;
	}

	.jumbotron h2 {
	text-transform: none;
	letter-spacing: 0em;
	font-size: 30px;
	margin-bottom: 0px !important;
	}

	.project-slider {
		max-width: 100%;
	    height: auto;
	}

	p.p-project-slider-intro {
		font-size: 16px;
		letter-spacing: 0em;
		margin-bottom: 40px;
		margin-top: 10px;
	}

	.project-slider-intro {
	margin-top: 20px;
	padding-right: 15px;
	}
}

@media (min-width: 768px) and (max-width:991px) {
	.jumbotron h2 {
		text-transform: none;
		letter-spacing: 0em;
		font-size: 32px;
	}

	.project-slider-image {

	}

	.project-slider {
		max-width: 100%;
	    height: auto;
	}

	p.p-project-slider-intro {
		font-size: 16px;
		letter-spacing: 0em;
	}

	.project-slider-intro {
		margin-top: 0px;
		padding-right: 0px;
	}
}


@media screen and (min-width: 767px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 0px;
  }
  .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 46px;
  }
}




/*
#slider-project {
  background: var(--violet);
  padding-top: 30px;
}

.project-slider {
	text-align: center;
}

.project-slider-intro {
	margin-top: 50px;
}

.project-slider-intro h2 {
	font-size: 36px;
	color: #fff;
}



.project-slider-intro p {
	margin-bottom:20px;
	font-size: 18px;
	color: #fff;
	padding-right: 20px;
}

.slider-arrow {
	margin-top: 150px;
}

.slider-arrow img {
	width: 44px;
	height: auto;
}


@media (max-width: 767px) {
	#slider-project {
	  background: var(--violet);
	  padding-top: 30px;
	  padding-bottom: 30px;
	}
	.project-slider-intro p {
	margin-bottom:0px;
	font-size: 16px;
	color: #fff;
	padding-right: 0px;
	}
	.project-slider-intro {
	margin-top: 10px;
	}
}
*/




/**** Project content resume ****/

.project-resume {
	padding-right: 80px;
}

.project-resume > p {
	font-size: 17px;
	color: var(--blue);
	line-height: 27px;
}

.title-project-portfolio {
	font-size: 46px;
	margin-top: 40px;
	margin-bottom: 0px;
}

.subtitle-project-portfolio {
	font-family: Caveat, sans-serif;
	font-size: 32px;
	font-style: italic;
	margin-top: 0px;
}

.project-more {
	margin-top: 80px;
}

.tags-list {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.project-more .project-tag {
	font-size: 13px;
	color: var(--blue);
	background-color: #E5E6EC;
	border-radius: 3px;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-right: 6px;
	display: inline-block;
	padding: 6px 10px;
}

.project-more p.title-section-project {
	font-size: 18px;
	color:var(--blue);
	font-weight: 900;
	margin-bottom: 0px;
	padding-bottom: 4px;
}

.project-more > ul.link-project-preview > li > a:after {
	display: none;
}

ul.link-project-preview > li {
	padding-bottom: 10px;
}


@media (max-width: 991px) {
	.project-resume {
		padding-left: 20px;
		padding-right: 20px;
	}

	.title-project-portfolio {
	font-size: 40px;
	margin-top: 40px;
	margin-bottom: 0px;
	}

	.subtitle-project-portfolio {
	font-family: Caveat, sans-serif;
	font-size: 28px;
	font-style: italic;
	margin-top: 0px;
	}

	.project-more {
	margin-top: 30px;
	}
}



/**** Content project ****/

.title-content-project {
	font-size: 32px;
	color: var(--blue);
	font-weight: 900;
	margin-top: 40px;
}

.text-content-project {
	font-size: 17px;
	color:var(--blue);
	line-height: 27px;
	margin-top: 30px;
}

.text-content-project > a {
	font-size: 17px;
}

.list-content-project {
	font-size: 17px;
	color:var(--blue);
}

.list-content-project > li {
	margin-bottom: 15px;
}



/**** The End ****/

#the-end {
	margin-top: 100px;
	margin-bottom: 60px;
}




/**** OTHER PROJECTS ****/

#other-projects {
  background: var(--blue);
  padding: 30px 0 30px;
} 

#other-projects a.work-arrow-title {
	color: white;
}

#other-projects .fa-arrow-down {
	color:white;
}

.preview-mini-box {
	/*position:relative;*/
	border: solid 1px #fff;
	margin:15px 15px;
	overflow: hidden;
	background-color: #fff;
	border-radius: 3px;
	height:50px;
}

/*.preview-mini-box .viadeo {
	background-image: url(img/visuel_project_preview_zewaow.png);
}*/

.title-preview-mini {
	text-align: center;	font-size: 18px;
	padding-top: 10px;
}

.title-preview-mini:after {
	content: "\F061";
	font-family: FontAwesome;
	font-size: 14px;
	padding-left: 8px;
}

.title-preview-mini-on {
	text-align: center;	font-size: 18px;
	padding-top: 10px;
}

.title-preview-mini-on:after {
	content: "\F062";
	font-family: FontAwesome;
	font-size: 14px;
	padding-left: 8px;
}

.legend-asset {
	font-size: 12px;
	font-style: italic;
	margin-top: 15px;
}




/****************************** ABOUT ME ******************************/

.background-aboutme {
	background: #FFF;
	padding-top: 30px;
	padding-bottom: 10px;
	margin-bottom:20px;
}

.image-aboutme {
	max-width: 750px;
	height:auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.image-aboutme-xs {
	width: 100%;
	height:auto;
	margin-top: 20px;
}

.caveat {
	font-family: caveat, sans-serif;
	font-style: italic;
	font-size: 26px;
}
